* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.nav-bar {
  background: rgb(14, 149, 144);
  background: linear-gradient(
    90deg,
    rgba(14, 149, 144, 1) 0%,
    rgba(0, 255, 160, 1) 100%
  );
  height: 6rem;
}

h1 {
  font-size: 2.6rem;
}

.product {
  display: flex;
  height: 100%;
  padding: 5rem;
}
.product-image {
  border: 1px solid lightgray;
  width: 40%;
  position: relative;
  overflow: hidden;
  margin-right: 5rem;
}

.product-image::before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.product-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.product-details {
  margin: 1rem 2.5rem;
}

.variant-color:not(:last-of-type) {
  margin-bottom: 1rem;
}

.size-list {
  margin-top: 1rem;
}
